/* Desktop Styles Start */

@media screen and (min-width: 1024px) {
    /* Homepage Styles */

    /* Header Styles */
    .header {
        padding: 20px 35px;
    }

    .menu-button {
        display: none;
    }

    .main-navigation {
        position: static;
        height: auto;
        width: 100%;
        max-width: none;
        background-color: unset;
        overflow: visible;
        transform: none;
    }

    .menu-links {
        margin: 0;
    }


    ul li {
        padding: 10px 15px;
        border-bottom: 0;
    }

    .border-top {
        border-top: 4px solid $secondary-text-color;
    }

    .border-top-2 {
        border-top: 2px solid $secondary-text-color;
        transition: border-top 0.3s, transform 0.3s;
    }

    .border-top-2:hover {
        border-top: 4px solid $accent-color;
    }

    #home:hover {
        color: $accent-color;
        transition: color 0.3s, transform 0.3s;
    }

    .menu li a:hover {
        color: $accent-color;
    }

    .logo {
        width: 160px;
    }

    .login-button {
        margin: 0 16px 0 auto;
    }

    .login-button:hover {
        transform: scale(1.1);
    }

    .search-wrapper {
        top: 80px;
    }

    /* Header End */

    /* Main Start */

    .main {
        margin: 35px;
    }

    /* Hero Start */
    .hero {
        margin-bottom: 35px;
    }

    /* Hero End */

    /* Product Info Start */
    .product-info {
        margin-bottom: 80px;
    }

    .product-desc {
        margin: 0 0 0 10px;
    }

    .product-samples {
        margin: 0 10px 0 0;
    }

    .product-samples img:hover {
        transform: scale(1.1);
    }

    /* Product Info End */

    /* Features Start */

    .features {
        margin-bottom: 80px;
    }

    .features-container {
        margin: 0 45px;
    }

    .features-container h3 {
        font-size: 34px;
    }

    .smart-connectivity-feature img,
    .eco-mode-feature img,
    .temperature-sensor-feature img,
    .mobile-app-control-feature img {
        width: 26%;
    }

    /* Features End */

    /* Categories Start */

    .thermostat-categories {
        margin-bottom: 50px;
    }

    .categories-container {
        padding: 14px;
    }

    .category-links ul {
        padding: 0 16px;
    }

    .category-links ul li {
        border-bottom: 1px solid $secondary-color;
        padding: 10px 0;
    }

    /* Categories End */

    /* Featured Product Start */

    .featured-product {
        margin-bottom: 80px;
    }

    .featured-product-card {
        padding: 14px;
        max-width: 828px;
    }

    .featured-product-header h3 {
        font-size: 34px;
        line-height: 40px;
    }

    .featured-product-subtext {
        margin: 0 30px 0 0;
    }

    .featured-product-name h4 {
        font-size: 26px;
    }

    .product-price p {
        font-size: 20px;
    }

    .black,
    .red,
    .white {
        width: 50px;
        height: 50px;
    }

    /* Featured Product End */

    /* Reviews Start */

    .reviews {
        margin-bottom: 50px;
    }

    .review-container {
        margin: 0 30px;
    }

    .review-header h3 {
        font-size: 34px;
    }

    /* Reviews End */

    /* Secondary Promotional Thermostat Start */

    .secondary-promotional-thermostat-image {
        margin: 0 80px;
    }

    /* Secondary Promotional Thermostat End */

    /* Footer Start */
    .footer-links {
        padding: 35px 35px 15px;
    }

    .copyright-text {
        font-size: 16px;
    }

    /* Footer End */
}

@media screen and (min-width: 1280px) {
    /* Homepage Styles */

    /* Header Styles */
    .header {
        padding: 25px 40px;
    }

    .logo {
        width: 180px;
    }

    .search-wrapper {
        top: 90px;
    }

    /* Header End */

    /* Main Start */

    .main {
        margin: 40px;
    }

    /* Hero Start */
    .hero {
        margin-bottom: 40px;
    }

    /* Hero End */

    /* Product Info Start */
    .product-info {
        margin-bottom: 90px;
    }

    /* Product Info End */

    /* Features Start */

    .features {
        margin-bottom: 90px;
    }

    .features-container h3 {
        font-size: 36px;
    }

    .smart-connectivity-feature,
    .eco-mode-feature,
    .temperature-sensor-feature,
    .mobile-app-control-feature {
        margin: 0;
    }

    .smart-connectivity-feature h4,
    .eco-mode-feature h4,
    .temperature-sensor-feature h4,
    .mobile-app-control-feature h4 {
        font-size: 26px;
    }

    /* Features End */

    /* Categories Start */

    .thermostat-categories {
        margin-bottom: 60px;
    }

    .categories-container {
        padding: 16px;
    }

    /* Categories End */

    /* Featured Product Start */

    .featured-product {
        margin-bottom: 90px;
    }

    .featured-product-card {
        padding: 16px;
    }

    .featured-product-subtext {
        margin: 0 105px 5px 0;
    }

    /* Featured Product End */

    /* Reviews Start */

    .reviews {
        margin-bottom: 60px;
    }

    .review-container {
        margin: 0 75px;
    }

    .review-header h3 {
        font-size: 36px;
    }

    /* Reviews End */

    /* Secondary Promotional Thermostat Start */

    .secondary-promotional-thermostat-image {
        margin: 0 90px;
    }

    /* Secondary Promotional Thermostat End */
}

@media screen and (min-width: 1366px) {
    /* Homepage Styles */

    /* Main Start */
    .main {
        margin: 50px;
    }

    /* Hero Start */
    .hero {
        margin-bottom: 50px;
    }

    /* Hero End */

    /* Product Info Start */
    .product-info {
        margin-bottom: 100px;
    }

    /* Product Info End */

    /* Features Start */
    .features {
        margin-bottom: 100px;
    }

    .features-container h3 {
        font-size: 38px;
    }

    .smart-connectivity-feature h4,
    .eco-mode-feature h4,
    .temperature-sensor-feature h4,
    .mobile-app-control-feature h4 {
        font-size: 28px;
    }

    /* Features End */

    /* Featured Product Start */
    .featured-product {
        margin-bottom: 100px;
    }

    .featured-product-card {
        padding: 18px;
    }

    /* Featured Product End */

    /* Reviews Start */
    .reviews {
        margin-bottom: 70px;
    }

    .review-header h3 {
        font-size: 38px;
    }

    /* Reviews End */

    /* Secondary Promotional Thermostat Start */
    .secondary-promotional-thermostat-image {
        margin: 0 100px;
    }

    /* Secondary Promotional Thermostat End */
}

@media screen and (min-width: 1440px) {
    /* Homepage Styles */

    /* Main Start */

    /* Hero Start */
    .hero {
        margin-bottom: 60px;
    }

    /* Hero End */

    /* Featured Product Start */

    .featured-product-card {
        padding: 20px;
    }

    /* Featured Product End */

    /* Reviews Start */
    .reviews {
        margin-bottom: 80px;
    }

    /* Reviews End */
}

@media screen and (min-width: 1600px) {
    /* Homepage Styles */

    /* Main Start */

    /* Reviews Start */
    .reviews {
        margin-bottom: 100px;
    }

    .review-container {
        margin: 0 100px;
    }

    /* Reviews End */
}

@media screen and (min-width: 1920px) {
    /* Homepage Styles */

    /* Main Start */

    .smart-connectivity-feature p,
    .eco-mode-feature p,
    .temperature-sensor-feature p,
    .mobile-app-control-feature p {
        padding: 0 54px;
    }

    /* Features End */

    /* Reviews Start */

    .review-container {
        margin: 0 120px;
    }

    /* Reviews End */
}

/* Desktop End */