/* Mobile Grid Start */

@media screen and (min-width: 320px) {

    /* Homepage Start */
    .header,
    .main > *,
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }

    /* Header Start */

    .nav-bar {
        display: flex;
    }

    .two-items-left {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .three-items-right {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .menu-button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .login-button {
        display: flex;
        justify-content: flex-end;
    }

    .profile-button {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .search-container,
    .search-button,
    .notifications,
    .notifications-button,
    .cart,
    .cart-button {
        display: flex;
    }

    .notification-items,
    .cart-items {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Header End */

    /* Main Start */

    /* Hero Start */
    .hero picture {
        display: flex;
    }

    /* Hero End */

    /* Product Info Start */
    .product-samples {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    /* Product Info End */

    /* Features Start */
    .features-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .smart-connectivity-feature,
    .eco-mode-feature,
    .temperature-sensor-feature,
    .mobile-app-control-feature {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    /* Features End */

    /* Categories Start */
    .categories-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .category-item {
        display: flex;
        flex-direction: column;
    }

    .category-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* Categories End */

    /* Featured Product Start */

    .featured-product-card {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .featured-product-image {
        display: flex;
    }

    .colour-options {
        display: flex;
        gap: 15px;
    }

    .buy-now-cta.add-to-cart-cta {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /* Featured Product End */

    /* Reviews Start */

    .review-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /* Reviews End */

    /* Secondary Promotional Thermostat Start */
    .secondary-promotional-thermostat-image {
        display: flex;
    }

    /* Secondary Promotional Thermostat End */

    /* Main End */

    /* Footer Start */

    .group-1,
    .group-2,
    .group-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    /* Footer End */

    /* Homepage End */
}

/* Mobile Grid End */

/* Tablet Grid Start */

@media screen and (min-width: 600px) {
    /* Homepage Grid Start */

    /* Main Starts */

    /* Features Start */

    .features-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 45px;
    }

    .features-container h3 {
        grid-column: 1 / span 2;
    }

    /* Features End */
}

@media screen and (min-width: 768px) {
    /* Homepage Grid Start */

    .header,
    .main > *,
    .footer {
        grid-template-columns: repeat(6, 1fr);
        gap: 25px;
    }

    /* Header Start */

    .nav-bar {
        grid-column: 1 / span 6;
    }

    .two-items-left {
        gap: 30px;
    }

    .menu-button {
        justify-content: space-around;
    }

    .three-items-right,
    .login-button a {
        gap: 14px;
    }

    /* Header End */

    /* Main Start */

    /* Hero Start */

    .hero picture {
        grid-column: 1 / span 6;
    }

    /* Hero End */

    /* Product Info Start */

    .product-info {
        grid-template-columns: 1fr;
    }

    .product-samples {
        gap: 25px;
    }

    /* Product Info End */

    /* Features Start */

    .features-container {
        grid-column: 1 / span 6;
        gap: 30px;
    }

    /* Features End */

    /* Categories Start */

    .categories-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column: 1 / span 6;
        gap: 10px 18px;
    }

    /* Categories End */

    /* Featured Product Start */

    .featured-product-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column: 1 / span 6;
        gap: 10px 18px;
    }

    .featured-product-header,
    .featured-product-subtext,
    .featured-product-image {
        grid-column: 1;
    }

    .featured-product-image {
        display: block;
        grid-row: 3 / span 4;
    }

    .featured-product-name {
        grid-row: 3;
    }

    .product-price {
        grid-row: 4;
    }

    .colour-options {
        gap: 20px;
        grid-row: 5;
    }

    .buy-now-cta.add-to-cart-cta {
        grid-row: 6;
    }

    /* Featured Product End */

    /* Reviews Start */

    .review-container {
        grid-column: 2 / span 4;
    }

    /* Reviews End */

    /* Secondary Promotional Thermostat Start */

    .secondary-promotional-thermostat-image {
        grid-column: 2 / span 4;
    }

    /* Secondary Promotional Thermostat End */

    /* Main End */

    /* Footer Start */

    .footer-links,
    .links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column: 1 / span 6;
    }

    .copyright {
        grid-column: 1 / span 3;
    }

    /* Footer End */

    /* Homepage Grid End */
}

/* Tablet Grid End */

/* Desktop Grid Start */

@media screen and (min-width: 1024px) {
    /* Homepage Grid Start */

    .header,
    .main > *,
    .footer {
        grid-template-columns: repeat(7, 1fr);
        gap: 30px;
    }

    /* Header Start */

    .nav-bar {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column: 1 / span 7;
    }

    .two-items-left {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-column: 1 / span 12;
        gap: 40px;
    }

    .menu {
        grid-column: 2 / span 8;
    }

    .logo {
        grid-column: 1;
        grid-row: 1;
    }

    .menu-links {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .three-items-right {
        grid-column: 13;
    }

    .three-items-right,
    .login-button a {
        gap: 16px;
    }

    /* Header End */

    /* Main Start */

    /* Hero Start */

    .hero picture {
        grid-column: 1 / span 7;
    }

    /* Hero End */

    /* Product Info Start */

    .product-info {
        grid-template-columns: repeat(7, 1fr);
        align-items: center;
        gap: 22px;
    }

    .product-desc {
        grid-column: 1 / span 2;
    }

    .product-samples {
        grid-column: 3 / span 5;
        gap: 30px;
    }

    /* Product Info End */

    /* Features Start */

    .features-container {
        grid-column: 1 / span 7;
        gap: 40px 0;
    }

    /* Features End */

    /* Categories Start */

    .categories-container {
        grid-column: 1 / span 7;
        gap: 10px 24px;
    }

    /* Categories End */

    /* Featured Product Start */

    .featured-product-card {
        grid-column: 2 / span 5;
        gap: 10px 24px;
    }

    .colour-options {
        gap: 25px;
    }

    /* Featured Product End */

    /* Reviews Start */

    .review-container {
        grid-column: 3 / span 3;
    }

    /* Reviews End */

    /* Secondary Promotional Thermostat Start */

    .secondary-promotional-thermostat-image {
        grid-column: 2 / span 5;
    }

    /* Main End */

    /* Footer Start */

    .footer-links,
    .links {
        grid-column: 1 / span 7;
    }

    /* Footer End */

    /* Homepage Grid End */
}

@media screen and (min-width: 1280px) {
    /* Homepage Grid Start */

    /* Main Start */

    /* Features Start */

    .features-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .features-container h3 {
        grid-column: 1 / span 4;
    }

    .temperature-sensor-feature {
        grid-column: 3;
        grid-row: 2;
    }

    .mobile-app-control-feature {
        grid-column: 4;
        grid-row: 2;
    }
}

/* Desktop Grid End */