/* Tablet Styles Start */

@media screen and (min-width: 600px) {
    /* Homepage Styles */

    /* Main Start */

    /* Features Start */

    .features-container {
        margin: 0;
    }

    .smart-connectivity-feature,
    .eco-mode-feature,
    .temperature-sensor-feature,
    .mobile-app-control-feature {
        margin: 0;
    }

    /* Features End */
}

@media screen and (min-width: 640px) {
    /* Homepage Styles */

    /* Main Start */

    /* Features Start */

    .features-container {
        margin: 0 5px;
    }

    .smart-connectivity-feature,
    .eco-mode-feature,
    .temperature-sensor-feature,
    .mobile-app-control-feature {
        margin: 0 6px;
    }

    /* Features End */
}

@media screen and (min-width: 700px) {
    /* Homepage Styles */

    /* Header Styles */

    .main-navigation {
        width: 65%;
        max-width: 380px;
    }

    .search-wrapper {
        top: 69px;
    }

    /* Header End */

    /* Main Start */

    /* Product Info Start */

    .product-desc p {
        font-size: 16px;
    }

    /* Product Info End */

    /* Features Start */

    .features-container {
        margin: 0 10px;
    }

    .smart-connectivity-feature,
    .eco-mode-feature,
    .temperature-sensor-feature,
    .mobile-app-control-feature {
        margin: 0 12px;
    }

    .smart-connectivity-feature p,
    .eco-mode-feature p,
    .temperature-sensor-feature p,
    .mobile-app-control-feature p {
        font-size: 16px;
    }

    /* Features End */

    /* Featured Product Start */

    .featured-product-subtext p {
        font-size: 16px;
    }

    /* Featured Product End */

    /* Reviews Start */

    .testimonial {
        font-size: 16px;
    }

    .name {
        font-size: 16px;
    }

    /* Reviews End */

    /* Secondary Promotional Thermostat Start */
    .secondary-promotional-thermostat-image {
        margin: 0 40px;
    }

    /* Secondary Promotional Thermostat End */

    /* Main End */
}

@media screen and (min-width: 712px) {
    /* Homepage Styles */

    /* Main Start */

    /* Features Start */

    .features-container {
        margin: 0 15px;
    }

    /* Main Ends */
}

@media screen and (min-width: 768px) {
    /* Homepage Styles */

    /* Header Styles */
    .header {
        padding: 15px 25px;
    }

    .menu-button {
        width: 26px;
        height: 21px;
    }

    .menu.open .line:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    .menu.open .line:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }

    .main-navigation {
        width: 65%;
        max-width: 400px;
    }

    .menu-links {
        margin: 60px 20px;
    }

    ul li {
        padding: 15px 0;
    }

    .login {
        padding: 10px;
    }

    .login-button {
        margin-top: 25px;
    }

    .logo {
        width: 136px;
    }

    .search-wrapper {
        top: 70px;
    }

    .search-wrapper input {
        padding: 10px;
    }

    /* Header End */

    /* Main Start */

    .main {
        margin: 25px;
    }

    /* Hero Start */
    .hero {
        margin-bottom: 25px;
    }

    /* Hero End */

    /* Product Info Start */
    .product-info {
        margin-bottom: 60px;
    }

    /* Product Info End */

    /* Features Start */

    .features {
        margin-bottom: 60px;
    }

    .features-container {
        margin: 0 25px;
    }

    .features-container h3 {
        font-size: 30px;
    }

    .smart-connectivity-feature,
    .eco-mode-feature,
    .temperature-sensor-feature,
    .mobile-app-control-feature {
        margin: 0 0 24px;
    }

    .temperature-sensor-feature,
    .mobile-app-control-feature {
        margin-top: 25px;
    }

    .smart-connectivity-feature img,
    .eco-mode-feature img,
    .temperature-sensor-feature img,
    .mobile-app-control-feature img {
        width: 24%;
    }

    .smart-connectivity-feature h4,
    .eco-mode-feature h4,
    .temperature-sensor-feature h4,
    .mobile-app-control-feature h4 {
        font-size: 24px;
    }

    /* Features End */

    /* Categories Start */

    .thermostat-categories {
        margin-bottom: 40px;
    }

    .categories-container {
        margin: 0 auto;
    }

    .category-links ul {
        padding: 0 14px;
    }

    /* Categories End */

    /* Featured Product Start */

    .featured-product {
        margin-bottom: 60px;
    }

    .featured-product-card {
        padding: 12px;
        margin: 0 auto;
        max-width: 796px;
    }

    .featured-product-header {
        margin: 0;
    }

    .featured-product-header h3 {
        font-size: 30px;
        line-height: 35px;
    }

    .featured-product-subtext {
        margin: 0 70px 5px 0;
    }

    .featured-product-name h4 {
        font-size: 24px;
    }

    .product-price p {
        font-size: 18px;
    }

    .colour-options {
        margin-bottom: 5px;
    }

    .black,
    .red,
    .white {
        width: 45px;
        height: 45px;
        border-radius: 30px;
    }

    /* Featured Product End */

    /* Reviews Start */

    .reviews {
        margin-bottom: 40px;
    }

    .review-header h3 {
        font-size: 30px;
    }

    /* Reviews End */

    /* Main End */

    /* Footer Start */
    .footer-links {
        padding: 25px 25px 15px;
    }

    .group-2 {
        margin: 0;
    }

    .copyright-text {
        font-size: 14px;
    }

    /* Footer End */
}

@media screen and (min-width: 912px) {
    /* Homepage Styles */

    /* Main Start */

    /* Features Start */

    .smart-connectivity-feature,
    .eco-mode-feature,
    .temperature-sensor-feature,
    .mobile-app-control-feature {
        margin: 0 36px 0;
    }
}

@media screen and (min-width: 960px) {
    /* Homepage Styles */

    /* Header Styles */
    .header {
        padding: 18px 30px;
    }

    .main-navigation {
        width: 70%;
        max-width: 420px;
    }

    .menu-links {
        margin: 65px 22px;
    }

    .logo {
        width: 150px;
    }

    .search-wrapper {
        top: 75px;
    }

    /* Header End */

    /* Main Start */
    .main {
        margin: 30px;
    }

    /* Hero Start */
    .hero {
        margin-bottom: 30px;
    }

    /* Hero End */

    /* Product Info Start */
    .product-info {
        margin-bottom: 75px;
    }

    .product-desc {
        margin: 0 0 0 8px;
    }

    /* Product Info End */

    /* Features Start */
    .features {
        margin-bottom: 75px;
    }

    .features-container h3 {
        font-size: 32px;
    }

    /* Features End */

    /* Categories Start */
    .thermostat-categories {
        margin-bottom: 45px;
    }

    /* Categories End */

    /* Featured Product Start */
    .featured-product {
        margin-bottom: 75px;
    }

    .featured-product-header h3 {
        font-size: 32px;
        line-height: 38px;
    }

    .featured-product-subtext {
        margin: 0 105px 5px 0;
    }

    /* Featured Product End */

    /* Reviews Start */
    .reviews {
        margin-bottom: 45px;
    }

    .review-header h3 {
        font-size: 32px;
    }

    /* Reviews End */

    /* Secondary Promotional Thermostat Start */
    .secondary-promotional-thermostat-image {
        margin: 0 70px;
    }

    /* Secondary Promotional Thermostat End */

    /* Footer Start */
    .footer-links {
        padding: 30px 30px 15px;
    }

    /* Footer End */
}

/* Tablet End */