$primary-color: #37392e;
$secondary-color: #19647e;
$accent-color: #28afb0;
$background-color: #eee5e5;
$light-background-color: #ddcecd;
$text-color: #000000;
$secondary-text-color: #ffffff;

$font-family: "Roboto", sans-serif;

$font-weight-light: 300;

$font-size: 16px;